@charset "UTF-8";
:root {
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --interactive-color: #2196f3;
  --logo-color: #000000;
  --headers-color: #212121;
  --text-color: #757575;
  --white-text-background-color: rgba(255, 255, 255, 1);
  --white-text-color-06: rgba(255, 255, 255, 0.6);
  --sections-background-color: #e5e5e5;
  --section-team-background-color: #f5f4fa;
  --border-color: rgba(238, 238, 238, 1);
  --footer-bg-color: #2f303a;
  --card-set-gap: 30px;
  --link-normal-color: rgba(175, 177, 184, 1);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--body-font);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.features-title--hidden, .portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-family: var(--logo-font);
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1738;
}

.logo:focus {
  color: var(--interactive-color);
}

@media screen and (min-width: 1200px) {
  .logo:focus {
    font-size: 26px;
  }
}

.logo__accent-part {
  color: var(--interactive-color);
}

.header__logo {
  margin-right: 93px;
  color: var(--logo-color);
}

.footer__logo {
  color: var(--white-text-background-color);
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

.site-nav__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  background-color: var(--white-text-background-color);
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--interactive-color);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.contacts-list__link:hover .contacts-list__icon {
  fill: currentColor;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-desktop@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  color: var(--white-text-background-color);
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  line-height: 1.615;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.hero__btn:hover, .hero__btn:focus {
  color: var(--headers-color);
}

/* Секція Features */
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0px;
  }
}

.features__icon {
  width: 100%;
  height: 120px;
  margin-bottom: var(--card-set-gap);
  background-color: var(--section-team-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 2 * var(--card-set-gap)) / 2);
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 4 * var(--card-set-gap)) / 4);
        flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  color: var(--text-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.examples {
  padding-bottom: 95px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .examples {
    display: block;
  }
}

.examples__title {
  margin-bottom: 50px;
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.examples__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.examples__description {
  position: absolute;
  width: 100%;
  top: 224px;
  padding: 27px 82px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-text-background-color);
}

.team {
  background-color: var(--section-team-background-color);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--headers-color);
  background-color: var(--section-team-background-color);
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1717;
  }
}

@media screen and (min-width: 758px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

.team-list__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 757px) {
  .team-list__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 758px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 2 * var(--card-set-gap)) / 2);
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 4 * var(--card-set-gap)) / 4);
        flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.team-list__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-list__text {
  margin: 0;
  color: var(--text-color);
  background-color: var(--white-text-background-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px 30px;
  background-color: var(--white-text-background-color);
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--link-normal-color);
  background-color: var(--white-text-background-color);
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  outline: none;
}

.social-list__icon {
  fill: currentColor;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: currentColor;
  background-color: var(--interactive-color);
  outline: none;
}

/* секція клієнти */
.clients__title {
  margin-top: 0;
  color: var(--headers-color);
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
}

.clients-list__item {
  height: 90px;
}

@media screen and (max-width: 757px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 2 * var(--card-set-gap)) / 2);
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 758px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 3 * var(--card-set-gap)) / 3);
        flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 6 * var(--card-set-gap)) / 6);
        flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.clients-list__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: var(--link-normal-color);
  border-radius: 4px;
  color: var(--link-normal-color);
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.clients-list__logo:hover, .clients-list__logo:focus {
  color: var(--interactive-color);
  border: 1px solid;
  border-color: var(--interactive-color);
  outline: none;
}

.clients-list__icon {
  fill: currentColor;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .address-box {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.address__text {
  margin-top: 20px;
  color: var(--white-text-background-color);
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts-list__item {
  display: block;
  margin-top: 9px;
  color: var(--white-text-color-06);
  font-family: inherit;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.footer-contacts-list__item:hover, .footer-contacts-list__item:focus {
  color: var(--interactive-color);
  outline: none;
}

@media screen and (max-width: 1199px) {
  .footer-social {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-social__slogan {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-background-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: var(--footer-bg-color);
}

.footer-social-list__item:not(:first-child) {
  margin-left: 10px;
}

.footer-social-list__link {
  color: var(--white-text-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}

.footer-social__icon {
  display: block;
  fill: currentColor;
}

/* Підписка на розсилку */
@media screen and (max-width: 1199px) {
  .subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-background-color);
}

.subscribe__label {
  display: inline-block;
}

.subscribe__input {
  min-width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-text-background-color);
  background-color: var(--footer-bg-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.subscribe__input:focus, .subscribe__input:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--interactive-color);
  outline-color: var(--interactive-color);
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.subscribe__btn {
  position: relative;
  padding: 10px 62px 10px 29px;
  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}

.subscribe__btn:hover, .subscribe__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline-color: var(--interactive-color);
}

.subscribe__icon {
  position: absolute;
  top: 14px;
  right: 28px;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* Стилі портфоліо */
.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.buttons-list__item {
  margin-left: 8px;
  margin-top: 15px;
}

.portfolio-btn {
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 73px;
  max-height: 38px;
  background-color: var(--section-team-background-color);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
  -webkit-transition: back-ground-color 250ms var(--time-function);
  transition: back-ground-color 250ms var(--time-function);
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.project__item {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}

.project__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 2 * var(--card-set-gap)) / 2);
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 3 * var(--card-set-gap)) / 3);
        flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  padding: 63px 24px;
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  text-decoration: none;
  color: var(--white-text-background-color);
}

.project__item:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__title {
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.project__type {
  color: var(--text-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}

.project__content {
  padding: 20px 24px;
}

/* Стилізація модального вікна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function);
  transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--white-text-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.85);
          transform: translate(-50%, -50%) scale(0.85);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: 100vw;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.btn-svg {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: var(--white-text-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-svg:hover, .btn-svg:focus {
  fill: var(--interactive-color);
}

/* Стилізація форми в модалці */
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label:not(:last-child) {
  margin-bottom: 10px;
}

.form-label__title {
  display: inline-block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-label__group {
  position: relative;
}

.form-label__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}

.form-label:hover .form-label__icon {
  fill: var(--interactive-color);
}

.form-label__input {
  width: 100%;
  min-height: 40px;
  padding: 0;
  padding-left: 35px;
  border-radius: 4px;
  border: 1px solid rgba(136, 62, 62, 0.2);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.form-label:hover .form-label__input {
  border-color: var(--interactive-color);
}

.form-label__input:focus {
  border-color: var(--interactive-color);
  outline: none;
}

.form-label__input:focus + .form-label__icon {
  fill: var(--interactive-color);
}

.form-label__input--comment {
  width: 100%;
  height: 96px;
  resize: none;
  padding: 12px 16px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__icon {
  border: none;
}

.checkbox__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1716;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.7143;
  }
}

.checkbox__link {
  color: var(--interactive-color);
  text-decoration: underline;
}

.checkbox__icon {
  margin-right: 8px;
  border: 2px solid var(--headers-color);
  border-radius: 4px;
}

.checkbox__icon--checked {
  display: none;
}

.checkbox__input:checked + .checkbox__icon > .checkbox__icon--checked {
  display: block;
}

/*   */
.form-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 56px;
  border-radius: 4px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */