.site-nav__contacts-list {
  @include centeredFlex;
  margin-left: auto;
}

.contacts-list__item + .contacts-list__item {
  margin-left: 50px;
}

.contacts-list__link {
  @include centeredFlex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  background-color: var(--white-text-background-color);
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--interactive-color);
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;

  @include transition(color);

  .contacts-list__link:hover & {
    fill: currentColor;
  }
}
