.footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.address {
  margin-right: auto;

  &__text {
    margin-top: 20px;

    color: var(--white-text-background-color);
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.footer-contacts-list {
  &__item {
    display: block;
    margin-top: 9px;

    color: var(--white-text-color-06);
    font-family: inherit;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @include transition(color);

    &:hover,
    &:focus {
      color: var(--interactive-color);
      outline: none;
    }
  }
}

.footer-social__slogan {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-background-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list {
  @include centeredFlex;
  padding: 0;
  background-color: var(--footer-bg-color);
}

.footer-social-list__item:not(:first-child) {
  margin-left: 10px;
}

.footer-social-list__link {
  color: var(--white-text-background-color);
  background-color: rgba(255, 255, 255, 0.1);

  @include transition(background-color);
}

.footer-social__icon {
  display: block;
  fill: currentColor;
}

/* Підписка на розсилку */

.subscribe {
  @include centeredFlex($positionV: flex-end);
}

.subscribe__form {
  @include centeredFlex($positionV: flex-end);
}

.subscribe__box {
  display: flex;
  flex-direction: column;
}

.subscribe__text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-background-color);
}

.subscribe__label {
  display: inline-block;
}

.subscribe__input {
  min-width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--white-text-background-color);
  background-color: var(--footer-bg-color);

  @include transition(box-shadow);
  @include transition(border-color);

  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--interactive-color);
    outline-color: var(--interactive-color);
  }
}

.subscribe__btn {
  position: relative;

  padding: 10px 62px 10px 29px;
  border-radius: 4px;
  min-width: 200px;

  border: 1px solid transparent;

  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline-color: var(--interactive-color);
  }
}

.subscribe__icon {
  position: absolute;
  top: 14px;
  right: 28px;
}
