:root {
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --interactive-color: #2196f3;
  --logo-color: #000000;
  --headers-color: #212121;
  --text-color: #757575;
  --white-text-background-color: rgba(255, 255, 255, 1);
  --white-text-color-06: rgba(255, 255, 255, 0.6);
  --sections-background-color: #e5e5e5;
  --section-team-background-color: #f5f4fa;
  --border-color: rgba(238, 238, 238, 1);
  --footer-bg-color: #2f303a;
  --card-set-gap: 30px;
  --link-normal-color: rgba(175, 177, 184, 1);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
